<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer"
        class="footer mt-auto py-3 bg-light text-center">
    <div class="container text-muted">
        <div th:text="${companyInfo.name}"></div>
        <div th:text="${companyInfo.address}"></div>
        <div th:text="${companyInfo.bankInfo.bank}"></div>
        <div th:text="${companyInfo.bankInfo.iban}"></div>
    </div>
</footer>

<div th:fragment="successMessage(message)"
     th:if="${message ne null}" class="alert alert-success" role="alert">
    <span th:text="${message}"></span>
</div>

</html>