<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous" defer></script>
</head>

<body>
    <header class="p-3 bg-dark text-white mb-2">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img th:src="@{/images/logo.png}" height="20" width="20"/>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a th:href="@{/}" th:text="#{menu.home}"
                           th:classappend="${#httpServletRequest.requestURI eq '/' ? 'text-white' : 'text-secondary'}"
                           class="nav-link px-2">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/products}" th:text="#{menu.products}"
                           th:classappend="${#httpServletRequest.requestURI.startsWith('/products') ? 'text-white' : 'text-secondary'}"
                           class="nav-link px-2">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/about}" th:text="#{menu.about}"
                           th:classappend="${#httpServletRequest.requestURI eq '/about' ? 'text-white' : 'text-secondary'}"
                           class="nav-link px-2">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Language
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" th:href="@{''(lang='lt')}">
                                    <img th:src="@{/images/language_lt.png}" class="language-selector"/>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{''(lang='en')}">
                                    <img th:src="@{/images/language_en.png}" class="language-selector"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="text-end">
                    <a th:href="@{/cart}" class="fs-4 nav-link px-2 text-secondary cart-link position-relative">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span th:if="${session.cart?.size gt 0}"
                              th:text="${session.cart.size}"
                              class="position-absolute p-1 top-0 start-1 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">0</span>
                        </span>
                    </a>
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>

                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn btn-outline-light me-2">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <main th:insert="${content}" class="container">
        PAGE CONTENT
    </main>

    <footer th:replace="fragments/common :: footer">
    </footer>
</body>
</html>