<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout(title=#{cartPage.title}, content=~{:: #main})">

<div id="main">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cartItem : ${cart.items}">
                <td th:text="${cartItem.product.name}">Samsung S23</td>
                <td th:text="${cartItem.product.price}">10000.00</td>
                <td th:text="${cartItem.quantity}">2</td>
                <td th:text="${cartItem.totalPrice}">20000.00</td>
                <td>
                    <form method="POST" th:action="@{/public/cart/remove}">
                        <button th:text="'Remove'"></button>
                    </form>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>
                    Sum:
                    <span th:text="${cart.sum}">20000</span>
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <form method="POST" th:action="@{/private/cart/order}">
        <button th:text="'Order'"></button>
    </form>
</div>
</html>