<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<body>
    <div th:if="${products.isEmpty()}">
        <h1>No Products Found!</h1>
    </div>
    <table th:if="${not products.isEmpty()}">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Samsung S23</td>
                <td>Very good, very nice</td>
                <td>10000.00</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>