<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<body>
    <div th:if="${products.empty}">
        <h1>No Products Found!</h1>
    </div>
    <table th:if="${not products.empty}">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}">Samsung S23</td>
                <td th:text="${product.description}">Very good, very nice</td>
                <td th:text="${product.price}">10000.00</td>
                <td>
                    <a th:href="@{/products/{id}(id=${product.id})}" th:text="'Edit'">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/products/create}" th:text="'Create Product'">Create Product</a>
    </div>
</body>
</html>