<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout(title='Create Product', content=~{:: #main})">

<div id="main">
    <form method="POST" th:object="${product}">

        <div th:if="${#fields.hasErrors()}" class="error-block">
            <ul>
                <li th:each="error : ${#fields.errors()}"
                    th:text="${error}">Error message</li>
            </ul>
        </div>

        <div th:if="${#fields.hasErrors()}">
            <ul>
                <li th:each="error : ${#fields.detailedErrors()}"
                    th:text="${error.fieldName + ': ' + error.message}">Error message</li>
            </ul>
        </div>

        <div>
            <label th:text="'Name'"></label>
            <input th:field="*{name}" th:errorclass="error">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name field errors</p>
        </div>

        <div>
            <label th:text="'Price'"></label>
            <input th:field="*{price}" th:errorclass="error">
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price field errors</p>
        </div>

        <div>
            <label th:text="'Phone number'"></label>
            <input th:field="*{phoneNumber}" th:errorclass="error">
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">PhoneNumber field errors</p>
        </div>

        <div>
            <label th:text="'Description'"></label>
            <textarea th:field="*{description}" th:errorclass="error"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description field errors</p>
        </div>

        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>
</html>