<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
    <form method="POST" th:object="${product}">
        <div>
            <label th:text="'Name'"></label>
            <input th:field="*{name}">
        </div>

        <div>
            <label th:text="'Price'"></label>
            <input th:field="*{price}">
        </div>

        <div>
            <label th:text="'Description'"></label>
            <textarea th:field="*{description}"></textarea>
        </div>

        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</body>
</html>