<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout(title='Create Product', content=~{:: #main})">

<div id="main">
    <form method="POST" th:object="${product}" th:action="@{/private/products/create}">
        <div class="mb-3">
            <label th:text="'Name'" for="name"></label>
            <input id="name" th:field="*{name}" class="form-control" th:errorclass="error">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text">Name field errors</div>
        </div>

        <div class="mb-3">
            <label th:text="'Price'" for="price"></label>
            <input id="price" th:field="*{price}" th:errorclass="error" class="form-control">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="form-text">Price field errors</div>
        </div>

        <div class="mb-3">
            <label th:text="'Phone number'" for="phoneNumber"></label>
            <input id="phoneNumber" th:field="*{phoneNumber}" th:errorclass="error" class="form-control">
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="form-text">PhoneNumber field errors</div>
        </div>

        <div class="mb-3">
            <label th:text="'Description'" for="description"></label>
            <textarea id="description" th:field="*{description}" th:errorclass="error" class="form-control"></textarea>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="form-text">Description field errors</div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
</html>